

.header{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 1440px;
	height: 120px;
	background-color: #525252;
}
.header .Oval{
	position: absolute;
	top: 18px;
	left: 24px;
    width: 84px;
    height: 84px;
    border-radius: 42px;
    background-color: #4a90e2;
}
.header .Onypedia{
	display: block;
	position: absolute;
	top: 23px;
	left: 126px;
	width: 131px;
    height: 31px;
    font-family: Helvetica;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.left-menu{
  position: absolute;
  display: block;
  left: -25px;
  top: 102px;
  width: 280px;
  height: 1004px;
  background-color: #d8d8d8;
  border: solid 1px #979797;
}

.left-menu .text1{
	position: absolute;
	width: 49px;
    height: 22px;
    left: 30px;
    top: 35px;
    font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;

}
.left-menu .text2{
	position: absolute;
	top: 75px;
	left: 30px;
	width: 48px;
  height: 22px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: oblique;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.left-menu .text3{
	position: absolute;
	top: 115px;
	left: 30px;
  width: 52px;
  height: 22px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;	
}
.left-menu .text4{
	position: absolute;
	top: 155px;
	left: 30px;
	width: 51px;
  height: 22px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
  font-style: oblique;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
	
}
.left-menu .text5{
	position: absolute;
	top: 195px;
	left: 30px;
	width: 49px;
  height: 22px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
	
}
.left-menu .text6{
	position: absolute;
	top: 235px;
	left: 30px;
	 width: 52px;
  height: 22px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
	
}
.footer{
  display: block;
  position: absolute;
  top: 988px;
  left: 257px;
  width: 1160px;
  height: 120px;
  background: url(3000x2000-px-abstract-blue-998314.jpg) no-repeat;
  background-size: 100%;
}
.footer a{
	position: absolute;
	top: 28px;
	left: 96px;
	width: 253px;
  height: 22px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4a90e2;
  white-space: nowrap;
}
.footer .text2{
	position: absolute;
	top: 28px;
	left: 395px;
	width: 186px;
  height: 22px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.footer .text3{
	position: absolute;
	top: 28px;
	left: 627px;
	 width: 184px;
  height: 22px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

}
.footer .kop{
	position: absolute;
	top: 60px;
	left: 1021px;
	width: 83px;
  height: 22px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.article{
	position: absolute;
	top: 100px;
	left: 260px;
	width: 1440px;
    height: 1124px;
}
.article h1{
	position: absolute;
	top: 32px;
	left: 64px;
	width: 399px;
  height: 43px;
  font-family: Helvetica;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.article img{
	position: absolute;
	top: 498px;
	left: 60px;
}
.article .text{
	position: absolute;
	top: 144px;
	left: 60px;
	width: 754px;
  height: 319px;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
}
.article .line{
    position: absolute;
	top: 110px;
	left: 60px;
	 width: 1040px;
  height: 2px;
  background-color: #979797;
}
.window .Oval{
	position: absolute;
	top: 53px;
	left: 38px;
    width: 180px;
  height: 180px;
  border-radius: 90px;
  background-color: #d8d8d8;
  border: solid 1px #979797;
}
.window{
	position: absolute;
	top: 144px;
	left: 844px;
	width: 256px;
  height: 374px;
  border: solid 1px #979797;
}
.window  h2{
    position: absolute;
	top: -10px;
	left: 90px;	
}
.window  .description{
	 position: absolute;
	top: 189px;
	left: -10px;

  width: 216px;
  height: 105px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  white-space: nowrap;
  text-align: left;
  color: #000000;
}
.header .buttons span{
	position: absolute;
	left: 14px;
	top: 14px;
 width: 77px;
  height: 22px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;	
}
.header .buttons div{
	width: 105px;
  height: 54px;
  border-radius: 10px;
  background-color: #b8e986;

}
.header .buttons .button1{
	position: absolute;
	left: 376px;
	top: 34px;
}
.header .buttons .button2{
	position: absolute;
	left: 513px;
	top: 34px;
}
.header .buttons .button3{
	position: absolute;
	left: 651px;
	top: 34px;
}
.header .buttons .button4{
	position: absolute;
	left: 788px;
	top: 34px;
}
.header .buttons .button5{
	position: absolute;
	left: 925px;
	top: 34px;
}
.header .buttons .button6{
	position: absolute;
	left: 1069px;
	top: 34px;
}
.header .htext1{
	position: absolute;
	left: 376px;
	width: 188px;
}
.header .htext2{
	position: absolute;
	left: 594px;
	width: 188px;
}
.header .login{
	position: absolute;
	left: 1074px;
	width: 188px;
}
.header .registration{
	position: absolute;
	left: 1142px;
	width: 188px;
}
.header .visitor{
	position: absolute;
	left: 1311px;
	width: 188px;
}

.header span{
	top: -5px;
	height: 22px;
	position: absolute;
	font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.header .Oval2{
	position: absolute;
	top: -10px;
	left: 1368px;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: #f8e71c;
}